Repository Sina-shafiee/charity-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,ts}": ["npm run lint", "npm run format"],
  "*.{html,css,md,hbs}": "npm run format"
}

chore(config): lint-staged & commitizen setup
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  src/test.ts
Due: npm run lint, npm run format

chore: readme update
  README.md
Due: npm run format

refactor(db): removed mongodb related files & docs fix
  .env.example
  .hygen/seeds/create-document/module.ejs.t
  .hygen/seeds/create-document/run-seed-import.ejs.t
  .hygen/seeds/create-document/run-seed-service.ejs.t
  .hygen/seeds/create-document/seed-module-import.ejs.t
  .hygen/seeds/create-document/seed-module.ejs.t
  .hygen/seeds/create-document/service.ejs.t
  docker-compose.ci.yaml
  docker-compose.document.ci.yaml
  docker-compose.document.yaml
  docs/database.md
  document.Dockerfile
  env-example-document
  package.json
  startup.document.ci.sh
  startup.document.dev.sh
Due: npm run format

refactor(auth): refactor email verification flow
  package-lock.json
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/config/auth-config.type.ts
  src/auth/config/auth.config.ts
  src/auth/dto/auth-confirm-email.dto.ts
  src/auth/types/confirm-email-response.type.ts
  src/database/migrations/1709403409898-FixEmailVerificationToken.ts
  src/users/infrastructure/persistence/mappers/user.mapper.ts
  src/users/infrastructure/persistence/persistence.module.ts
  src/users/infrastructure/persistence/repositories/user.repository.ts
  src/users/infrastructure/user.repository.ts
  src/users/users.service.ts
  src/verification-token/domain/verification-token.ts
  src/verification-token/dto/verification-token.dto.ts
  src/verification-token/infrastructure/persistence/entities/verification-token.entity.ts
  src/verification-token/infrastructure/persistence/mappers/verification-token.mapper.ts
  src/verification-token/infrastructure/persistence/presistence.module.ts
  src/verification-token/infrastructure/persistence/repositories/verification-token.repository.ts
  src/verification-token/verification-token.module.ts
  src/verification-token/verification-token.service.ts
Due: npm run lint, npm run format

refactor(auth): reset password flow
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/config/auth.config.ts
  src/auth/dto/auth-reset-password.dto.ts
  src/database/migrations/1709483708549-CreatePasswordResetToken.ts
  src/i18n/en/reset-password.json
  src/mail/mail-templates/reset-password.hbs
  src/mail/mail.service.ts
  src/reset-password-token/domain/reset-password-token.ts
  src/reset-password-token/dto/reset-password-token.dto.ts
  src/reset-password-token/infrastructure/persistence/entities/reset-password-token.entity.ts
  src/reset-password-token/infrastructure/persistence/mappers/reset-password-token.mapper.ts
  src/reset-password-token/infrastructure/persistence/presistence.module.ts
  src/reset-password-token/infrastructure/persistence/repositories/reset-password-token.repository.ts
  src/reset-password-token/reset-password-token.module.ts
  src/reset-password-token/reset-password-token.service.ts
Due: npm run lint, npm run format

feat(i18n): i18n resovler and config enhancement
  .gitignore
  src/app.module.ts
  src/i18n/en/validation.json
  src/i18n/fa/common.json
  src/i18n/fa/confirm-email.json
  src/i18n/fa/reset-password.json
  src/i18n/fa/validation.json
  src/test.ts
Due: npm run lint, npm run format

fix(i18n): validation error format
  .eslintignore
  package.json
  src/main.ts
  src/utils/filter-options.ts
  src/utils/validation-options.ts
Due: npm run lint, npm run format

fix(auth): login route error validation enhancment
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-email-login.dto.ts
  src/auth/types/login-response.type.ts
  src/auth/types/refresh-token-response-type.ts
Due: npm run lint, npm run format

fix(auth): error handling & bug fix
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-confirm-email.dto.ts
  src/auth/dto/auth-email-login.dto.ts
  src/auth/dto/auth-register-login.dto.ts
  src/i18n/en/common.json
  src/i18n/en/input-names.json
  src/i18n/en/validation.json
  src/i18n/fa/common.json
  src/i18n/fa/confirm-email.json
  src/i18n/fa/input-names.json
  src/i18n/fa/validation.json
  src/mail/mail-templates/activation.hbs
  src/mail/mail.service.ts
  src/mailer/mailer.service.ts
  src/main.ts
  src/users/users.service.ts
Due: npm run lint, npm run format

fix(config): cors config enhancement
  src/config/app-config.type.ts
  src/config/app.config.ts
  src/main.ts
Due: npm run lint, npm run format

fix(i18n): added generated i18n types to dist
  nest-cli.json
Due: none

fix(i18n): removed type safety
  nest-cli.json
  src/app.module.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-confirm-email.dto.ts
  src/auth/dto/auth-email-login.dto.ts
  src/auth/dto/auth-register-login.dto.ts
  src/users/users.service.ts
Due: npm run lint, npm run format

fix(i18n): syntax error
  src/auth/auth.service.ts
Due: npm run lint, npm run format

fix(config): deploy script
  package.json
Due: none

chore: test deploy
  package.json
Due: none

feat: vercel config
  vercel.json
Due: none

fix: vercel config
  vercel.json
Due: none

fix: start script
  .gitignore
  package.json
Due: none

fix: config module
  src/app.module.ts
Due: npm run lint, npm run format

Revert "fix: config module"
  src/app.module.ts
Due: npm run lint, npm run format

refactor(auth): removed refresh tokens flow
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/config/auth-config.type.ts
  src/auth/config/auth.config.ts
  src/auth/strategies/jwt-refresh.strategy.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/types/jwt-refresh-payload.type.ts
  src/auth/types/confirm-email-response.type.ts
  src/auth/types/login-response.type.ts
  src/auth/types/refresh-token-response-type.ts
Due: npm run lint, npm run format

fix(user): what to show and what not to show :D
  src/users/domain/user.ts
Due: npm run lint, npm run format

fix(auth): login response
  src/auth/auth.service.ts
  src/auth/types/login-response.type.ts
Due: npm run lint, npm run format
